<header class="">
Поддержать проект
</header>
<div class="block">
  <p>
    Pikagraphs - проект, собирающий статистику сайта
    <app-nice-link href="https://pikabu.ru">pikabu.ru</app-nice-link>
    и чтобы собирать статистику нужен сервер, а на сервер нужны деньги.<br>
    Буду благодарен любой помощи :)

  </p>
</div>
<header>
  Как вы можете помочь проекту:
</header>
<div class="block">
  <a class="niceLink" href="https://www.patreon.com/join/2313433" target="_blank">
   Ежемесячный платёж всего в $1 на patreon
  </a>
</div>
<div class="block">
  <p>
    Любая сумма на Qiwi:
  </p>
  <iframe src="https://qiwi.me/action/widget/pikagraphs" width="360" height="255" frameBorder="0" ref="widget" scrolling="no" style="overflow:hidden;">
    <a class="niceLink" href="https://qiwi.me/action/widget/pikagraphs" target="_blank">
      https://qiwi.me/action/widget/pikagraphs
    </a>
  </iframe>
</div>
