<div class="menu">
    <div class="site_name item">
        <a routerLink="/">Pikagraphs</a>
    </div>
    <div class="item">
        <!-- <a routerLink="/users">Охуенные графики</a> -->
        <div class="submenu">
            <div class="item">
                <a routerLink="/users">Пользователи</a>
            </div>
            <div class="item">
                <a routerLink="/communities">Сообщества</a>
            </div>
            <div class="item">
                <a routerLink="/new_year_2018_game">Новогодняя игра 2018</a>
            </div>
            <div class="item">
                <a routerLink="/about">О проекте</a>
            </div>
        </div>
    </div>
</div>
