{% extends "pikabu_new_year_18_game_app/index.html" %}

{% load static %}
{% block title %}Новогодняя игра 2018{% endblock %}

{% block style %}
#scoreboards {
	justify-content: flex-start;
}

.scoreItem .avatar {
    width: 25px;
}
#scoreboards > div {
    border: none;
    margin: 0;
}
.scoreItem > * {
    margin: 0;
}
.scoreItem .username {
    display: none;
}
.scoreItem .score {
    display: none;
}
.scoreboardParseTime {
    display: none;
}
#scoreItemInfo {
    display: block;
}
{% endblock %}