{% extends "core/base.html" %}

{% load static %}
{% block title %}Новогодняя игра 2018{% endblock %}
{% block head %}
<style>
table tr:hover {
    background: #fff;
}
.avatar {
    width: 50px;
}
.scoreEntries {
    width: 100%;
}
.scoreEntries td {
    padding: 0px 10px;
}
.scoreEntries tr {
    height: 50px;
}
</style>
{% endblock %}

{% block content %}
<div id="pikabuNewYear18GameApp">
    <h1><center>Happy new year!</center></h1>

    <table class="scoreEntries">
        <thead>
        <tr>
            <td>Аватар</td>
            <td>Имя пользователя</td>
            <td>Время в топе</td>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
        <tr>
            <td><img class="avatar" src="{{ entry.avatar_url }}"></td>
            <td><span>{{ entry.username }}</span></td>
            <td><span>{{ entry.maximum_time }}</span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}