<header class="">
  Что это?
</header>
<div class="block">
  <p>
    Pikagraphs - проект, собирающий статистику сайта
    <a href="https://pikabu.ru" target="_blank" rel="noopener nofollow">pikabu.ru</a>.
  </p>
  <p>
    В данный момент собирается статистика по всем пользователям и сообществам, также есть статистика
    новогодней игры (сама игра уже недоступна).
  </p>
</div>
<header>
  Как это работает? Могу я посмотреть код?
</header>
<div class="block">
  Да, проект размещён на GitHub
  <a href="https://github.com/DevAlone/pikagraphs" target="_blank" rel="noopener nofollow">
    https://github.com/DevAlone/pikagraphs
  </a>
</div>
<header class="">
  Кто это сделал?
</header>
<div class="block">
  <a href="https://github.com/DevAlone" target="_blank" rel="noopener nofollow">https://github.com/DevAlone</a>
</div>
<header>
  Я нашёл баг или просто хочу поговорить с автором. Куда я могу написать?
</header>
<div class="block">
  <a href="mailto:admin@d3d.info">admin@d3d.info</a>
</div>
