#leftColumn {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
}
#contentColumn {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: url('/assets/img/white_pattern.png');
  overflow: auto;
}

#messages {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

#helpTape {
  position: fixed;
  width: 250px;
  right: -50px;
  top: 50px;
  transform: rotate(45deg);
  opacity: 0.3;
}
#helpTape:hover {
  opacity: 0.8;
}
#helpTape img {
  width: 100%;
}
