.hiddenRating {
    color: #aeaeae;
}
.avatar {
    height: 25px;
    padding: 0 5px;
}

h1 {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.info {
  padding: 5px;
}
