<h1>Pikagraphs - статистика Пикабу</h1>
<div class="block">
  Pikagrahps - проект по сбору статистики с сайта
  <a href="https://pikabu.ru" target="_blank" rel="nofollow noopener">Пикабу</a>, запущенный 19 августа
  2017 года. За время существования был несколько раз переписан на различных технологиях для достижения большей
  производительности. Сейчас в базе {{ number_of_users }} пользователей, из которых обновляются
  {{ number_of_updated_users }}.
</div>

<div>
  <h2>Распределение пользователей по дате регистрации</h2>
  <app-graph graphType="distribution" graphId="user/signup_timestamp?window_size=3600">

  </app-graph>

  <h2>Распределение пользователей по рейтингу</h2>
  <app-graph
    graphType="distribution"
    graphId="user/rating?window_size=5000"
    [isLogarithmic]="true"
    [xIsTimestamp]="false">

  </app-graph>

  <h2>Распределение пользователей по comments_count</h2>
  <app-graph
    graphType="distribution"
    graphId="user/comments_count?window_size=1000"
    [isLogarithmic]="true"
    [xIsTimestamp]="false">

  </app-graph>

  <h2>Распределение пользователей по posts_count</h2>
  <app-graph
    graphType="distribution"
    graphId="user/posts_count?window_size=1000"
    [isLogarithmic]="true"
    [xIsTimestamp]="false">

  </app-graph>

  <h2>Распределение пользователей по hot_posts_count</h2>
  <app-graph
    graphType="distribution"
    graphId="user/hot_posts_count?window_size=1000"
    [isLogarithmic]="true"
    [xIsTimestamp]="false">

  </app-graph>

  <h2>Распределение пользователей по pluses_count</h2>
  <app-graph
    graphType="distribution"
    graphId="user/pluses_count?window_size=1000"
    [isLogarithmic]="true"
    [xIsTimestamp]="false">

  </app-graph>

  <h2>Распределение пользователей по minuses_count</h2>
  <app-graph
    graphType="distribution"
    graphId="user/minuses_count?window_size=1000"
    [isLogarithmic]="true"
    [xIsTimestamp]="false">

  </app-graph>

  <h2>Распределение пользователей по subscribers_count</h2>
  <app-graph
    graphType="distribution"
    graphId="user/subscribers_count?window_size=1000"
    [isLogarithmic]="true"
    [xIsTimestamp]="false">

  </app-graph>

  <h2>Распределение пользователей по updating_period</h2>
  <app-graph
    graphType="distribution"
    graphId="user/updating_period?window_size=1000"
    [isLogarithmic]="true"
    [xIsTimestamp]="false">

  </app-graph>

  <h2>Распределение пользователей по last_update_timestamp</h2>
  <app-graph
    graphType="distribution"
    graphId="user/last_update_timestamp?window_size=1000"
    [isLogarithmic]="true"
    [xIsTimestamp]="false">

  </app-graph>
</div>
