{% extends "core/base.html" %}

{% load static %}
{% block title %}Пользователи{% endblock %}
{% block head %}
<script>
var l4reverSignupTimestamp = 1274536587;
function _l4rverEasterEggTimer() {
    l4reverEasterEgg.getElementsByClassName('value')[0].textContent = parseInt(Date.now() / 1000 - l4reverSignupTimestamp) ;
    setTimeout(_l4rverEasterEggTimer, 1000);
}

function _executeL4reverEasterEgg() {
    l4reverEasterEgg.style = "display: table-row;";
    _l4rverEasterEggTimer();
}

function executeL4reverEasterEgg() {
    setTimeout(_executeL4reverEasterEgg, 30 * 1000);
}

function renderUserPage(username)
{
    showPopup('<h1 id="loading_element">Загрузка...</h1>');

    getUserInfo(username, function (response) {
        if (response.error !== undefined) {
            console.log(JSON.stringify(response));
            showPopup('Что-то пошло не так, возможно у вас закончились талоны на интернет');
            return;
        }
        var user = response;
        getUserGraphs(username, function(response) {
            if (response.error !== undefined) {
                console.log(JSON.stringify(response));
                showPopup('Что-то пошло не так, возможно у вас закончились талоны на интернет');
                return;
            }
            graphs = response;
            _renderUserPage(user, graphs.ratingEntries.items,
                            graphs.commentsEntries.items, graphs.postsEntries.items, graphs.hotPostsEntries.items,
                            graphs.minusesEntries.items, graphs.plusesEntries.items, graphs.subscribersEntries.items);
        });
    });
}

function _renderUserPage(user, ratingEntries,
            commentsEntries, postsEntries, hotPostsEntries, minusesEntries, plusesEntries, subscribersEntries)
{
    username = user.username;

    var l4reverEasterEgg = {}

    if (username == 'l4rever') {
        l4reverEasterEgg = {
            tag: 'tr',
            id: 'l4reverEasterEgg',
            className: 'item',
            style: 'display: none',
            content: [
                {
                    tag: 'td',
                    className: 'key',
                    content: 'Секунд',
                },
                {
                    tag: 'td',
                    className: 'value',
                    content: parseInt(Date.now() / 1000 - l4reverSignupTimestamp),
                },
                {
                    tag: 'script',
                    content: 'executeL4reverEasterEgg();',
                },
            ]
        };
    }

    var userInfoDom = {
        tag: 'table',
        className: 'infoBlock',
        content: [
            {
                tag: 'tr',
                className: 'item',
                content: [
                    {
                        tag: 'td',
                        className: 'key',
                        content: 'Рейтинг',
                    },
                    {
                        tag: 'td',
                        className: 'value',
                        content: user.rating,
                    },
                ]
            },
            {
                tag: 'tr',
                className: 'item',
                content: [
                    {
                        tag: 'td',
                        className: 'key',
                        content: 'Комментариев',
                    },
                    {
                        tag: 'td',
                        className: 'value',
                        content: user.commentsCount,
                    },
                ]
            },
            {
                tag: 'tr',
                className: 'item',
                content: [
                    {
                        tag: 'td',
                        className: 'key',
                        content: 'Постов',
                    },
                    {
                        tag: 'td',
                        className: 'value',
                        content: user.postsCount,
                    },
                ]
            },
            {
                tag: 'tr',
                className: 'item',
                content: [
                    {
                        tag: 'td',
                        className: 'key',
                        content: 'Горячих из них',
                    },
                    {
                        tag: 'td',
                        className: 'value',
                        content: user.hotPostsCount,
                    },
                ]
            },
            {
                tag: 'tr',
                className: 'item',
                content: [
                    {
                        tag: 'td',
                        className: 'key',
                        content: 'плюсов',
                    },
                    {
                        tag: 'td',
                        className: 'value',
                        content: user.plusesCount,
                    },
                ]
            },
            {
                tag: 'tr',
                className: 'item',
                content: [
                    {
                        tag: 'td',
                        className: 'key',
                        content: 'минусов',
                    },
                    {
                        tag: 'td',
                        className: 'value',
                        content: user.minusesCount,
                    },
                ]
            },
            {
                tag: 'tr',
                className: 'item',
                content: [
                    {
                        tag: 'td',
                        className: 'key',
                        content: 'подписчиков',
                    },
                    {
                        tag: 'td',
                        className: 'value',
                        content: user.subscribersCount,
                    },
                ]
            },
            l4reverEasterEgg,
        ]
    };
    function makeGraphDom(id, name) {
        dom = {
            id: id,
            content: [
                {
                    tag: 'h3',
                    content: name
                },
                {
                    id: 'chartdiv_' + id,
                    style: 'width: 100%; height: 500px;',
                    content: '',
                },
            ]
        }

        return dom;
    }
    var ratingGraphDom = makeGraphDom('ratingGraphDom', 'рейтинг');
    var commentsGraphDom = makeGraphDom('commentsGraphDom', 'комментарии');
    var postsGraphDom = makeGraphDom('postsGraphDom', 'посты');
    var hotPostsGraphDom = makeGraphDom('hotPostsGraphDom', 'горячие посты');
    var plusesGraphDom = makeGraphDom('plusesGraphDom', 'плюсы');
    var minusesGraphDom = makeGraphDom('minusesGraphDom', 'минусы');
    var subscribersGraphDom = makeGraphDom('subscribersGraphDom', 'подписчики');

    var dom = [
        {
            tag: 'h1',
            className: 'username_h1',
            content: [
                {
                    tag: 'a',
                    title: 'Посмотреть на пикабу',
                    href: 'https://pikabu.ru/profile/' + username,
                    target: '_blank',
                    content: username,
                }
            ],
        },
        {
            tag: 'div',
            className: 'userInfoBlock',
            style: user.info.length > 0 ? '': 'display: none',
            content: user.info,
        },
        userInfoDom,
        ratingGraphDom,
        commentsGraphDom,
        postsGraphDom,
        hotPostsGraphDom,
        plusesGraphDom,
        minusesGraphDom,
        subscribersGraphDom,
    ];

    var resultElement = document.createElement('div');
    generateDOM(dom, resultElement);
    showPopup(resultElement);

    function renderGraph(graph_id, data) {
        for(var i = 0; i < data.length; ++i) {
            data[i].date = data[i].timestamp * 1000;  // new Date(data[i].timestamp * 1000);
        }

        var chart = AmCharts.makeChart(graph_id, {
            "type": "serial",
            "theme": "light",
            "marginRight": 80,
            "autoMarginOffset": 20,
            "marginTop": 7,
            "dataProvider": data,
            "valueAxes": [{
                /*"axisAlpha": 0.2,
                "dashLength": 1,*/
                "position": "left"
            }],
            "mouseWheelZoomEnabled": false,
            "graphs": [{
                "id": "g1",
                "balloonText": "[[value]]",
                "bullet": "round",
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "hideBulletsCount": 50,
                "title": "red line",
                "valueField": "value",
                "useLineColorForBulletBorder": true,
                "balloon":{
                    "drop":true
                }
            }],
            "chartScrollbar": {
                "autoGridCount": true,
                "graph": "g1",
                "scrollbarHeight": 40
            },
            "chartCursor": {
               "limitToGraph":"g1"
            },
            "categoryField": "date",
            "categoryAxis": {
                "minPeriod": "mm",
                "parseDates": true,
                "axisColor": "#DADADA",
                "dashLength": 1,
                "minorGridEnabled": true
            },
            "export": {
                "enabled": true
            }
        });

        chart.addListener("rendered", zoomChart);
        zoomChart();

        // this method is called when chart is first inited as we listen for "rendered" event
        function zoomChart() {
            // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
            chart.zoomToIndexes(data.length - 40, data.length - 1);
        }
    }

    renderGraph('chartdiv_ratingGraphDom', ratingEntries);
    renderGraph('chartdiv_commentsGraphDom', commentsEntries);
    renderGraph('chartdiv_postsGraphDom', postsEntries);
    renderGraph('chartdiv_hotPostsGraphDom', hotPostsEntries);
    renderGraph('chartdiv_plusesGraphDom', plusesEntries);
    renderGraph('chartdiv_minusesGraphDom', minusesEntries);
    renderGraph('chartdiv_subscribersGraphDom', subscribersEntries);
}

var userIsTyping = false;
var searchTextBoxPreviousVal = "";
function processSearchTextBox() {
    if (searchTextBoxPreviousVal != searchTextbox.value && !userIsTyping) {
        resetUsersTape();
        searchTextBoxPreviousVal = searchTextbox.value;
    }
    userIsTyping = false;
    setTimeout(processSearchTextBox, 500);
}

var limit = 25;
var offset = 0;
var hasMore = true;

function clearUsersTape() {
    usersTape.innerHTML = "";
    offset = 0;
    hasMore = true;
}

function resetUsersTape() {
    clearUsersTape();

    $("#usersTape")
        .accordion({
            header: "> div > h3",
            active: false,
            collapsible: true
        })
        .sortable({
            axis: "y",
            handle: "h3",
            stop: function( event, ui ) {
            // IE doesn't register the blur when sorting
            // so trigger focusout handlers to remove .ui-state-focus
            ui.item.children( "h3" ).triggerHandler( "focusout" );

            // Refresh accordion to handle new order
            $( this ).accordion( "refresh" );
        }
    });


    loadMoreUsers();
}

function addUserToTape(user) {
    var html = '<div class="group"><h3 class="userTapeItemHeader">';
    html += '<img class="userTapeItemImage" src="' + user.avatarUrl + '" width="25px">';
    html += '<span class="userTapeItemUsername">' + user.username + '</span> - ' + user.rating;
    html += '</h3>';
    html += '<div class="userTapeItemDiv">';
    if (user.info) {
        html += '<p>';
        html += user.info.length > 0 ? user.info : "Какой-то ноунейм";
        html += "</p>";
    }
    html += '<a href="#' + user.username + '" onclick="renderUserPage(\'' + user.username + '\');">Открыть красивые графики</a>';
    html += "</div></div>";
    $('#usersTape').append(html);
    $('#usersTape').accordion("refresh");
}

function loadMoreUsers() {
    if (hasMore) {
        getUsers(limit, offset, searchTextbox.value, function(users) {
            for (var i = 0; i < users.data.length; ++i) {
                user = users.data[i];
                addUserToTape(user);
            }
            offset += limit;
            hasMore = users.hasMore;
            if ($('#usersTape').height() < screen.height)
                setTimeout(loadMoreUsers, 50);
        });
    }
}

$(window).scroll(function() {
    if($(window).scrollTop() == $(document).height() - $(window).height()) {
        loadMoreUsers();
    }
});

$(document).ready(function(){
    searchTextbox.value = "";
    resetUsersTape();
    processSearchTextBox();
    if (window.location.hash.length > 1) {
        var username = window.location.hash.substring(1);
        renderUserPage(username);
    }
})
</script>
{% endblock %}

{% block content %}

<input id="searchTextbox" placeholder="введи ник пикабушника" type="text" oninput="userIsTyping = true;">
<div id="searchResultBox">

</div>

<div id="userPage">
    <!--<h1><center>Ну же, введи уже что-нибудь в эту форму.</center></h1>-->
    <div id="usersTape">
        Загрузка...
    </div>
</div>
{% endblock %}