{% extends "core/base.html" %}

{% load static %}
{% block title %}{{ user.name }}{% endblock %}
{% block content %}
<center><h2>{{ user.name }}</h2></center>

<style>
td { 
	padding: 10px; 
}
</style>
<br>
<table>
	<tr>
		<td>is rating hidden</td>
		<td>{{ user.isRatingBan }}</td>
	</tr>
	<tr>
		<td>rating</td>
		<td>{{ user.rating }}</td>
	</tr>
	<tr>
		<td>comments count</td>
		<td>{{ user.commentsCount }}</td>
	</tr>
	<tr>
		<td>posts count</td>
		<td>{{ user.postsCount }}</td>
	</tr>
	<tr>
		<td>hot posts count</td>
		<td>{{ user.hotPostsCount }}</td>
	</tr>
	<tr>
		<td>pluses count</td>
		<td>{{ user.plusesCount }}</td>
	</tr>
	<tr>
		<td>minuses count</td>
		<td>{{ user.minusesCount }}</td>
	</tr>
	<tr>
		<td>subscribers count</td>
		<td>{{ user.subscribersCount }}</td>
	</tr>
	<tr>
		<td>last updated time</td>
		<td id="userLastUpdatedTime">{{ user.lastUpdateTimestamp }}</td>
	</tr>
</table>
<br>
<script>
userLastUpdatedTime.textContent = new Date({{ user.lastUpdateTimestamp }} * 1000);
</script>

<h3>Rating</h3>
<div id="rating_graph_visualisation"></div>
<script type="text/javascript">
var container = document.getElementById('rating_graph_visualisation');
var items = [
	{% for entry in rating %}
	{x: new Date({{ entry.timestamp }} * 1000), y: {{ entry.value }}, /*label: '{{ entry.user.name }}'*/},
	{% endfor %}
];

var dataset = new vis.DataSet(items);
var options = {
	dataAxis: {
		left: {
			format: function(value) { return value; }
		}
	},
	orientation:'bottom',
	shaded: {
		orientation: 'bottom'
    },
};

var graph2d = new vis.Graph2d(container, dataset, options);
</script>

<h3>Comments</h3>
<div id="comments_graph_visualisation"></div>
<script type="text/javascript">
var container = document.getElementById('comments_graph_visualisation');
var items = [
	{% for entry in comments %}
	{x: new Date({{ entry.timestamp }} * 1000), y: {{ entry.value }}, /*label: '{{ entry.user.name }}'*/},
	{% endfor %}
];

var dataset = new vis.DataSet(items);
var options = {
	dataAxis: {
		left: {
			format: function(value) { return value; }
		}
	},
	orientation:'bottom',
	shaded: {
		orientation: 'bottom'
    },
};

var graph2d = new vis.Graph2d(container, dataset, options);
</script>

<h3>Posts</h3>
<div id="posts_graph_visualisation"></div>
<script type="text/javascript">
var container = document.getElementById('posts_graph_visualisation');
var items = [
	{% for entry in posts %}
	{x: new Date({{ entry.timestamp }} * 1000), y: {{ entry.value }}, /*label: '{{ entry.user.name }}'*/},
	{% endfor %}
];

var dataset = new vis.DataSet(items);
var options = {
	dataAxis: {
		left: {
			format: function(value) { return value; }
		}
	},
	orientation:'bottom',
	shaded: {
		orientation: 'bottom'
    },
};

var graph2d = new vis.Graph2d(container, dataset, options);
</script>

<h3>Hot posts</h3>
<div id="hot_posts_graph_visualisation"></div>
<script type="text/javascript">
var container = document.getElementById('hot_posts_graph_visualisation');
var items = [
	{% for entry in hotPosts %}
	{x: new Date({{ entry.timestamp }} * 1000), y: {{ entry.value }}, /*label: '{{ entry.user.name }}'*/},
	{% endfor %}
];

var dataset = new vis.DataSet(items);
var options = {
	dataAxis: {
		left: {
			format: function(value) { return value; }
		}
	},
	orientation:'bottom',
	shaded: {
		orientation: 'bottom'
    },
};

var graph2d = new vis.Graph2d(container, dataset, options);
</script>

<h3>Pluses</h3>
<div id="pluses_graph_visualisation"></div>
<script type="text/javascript">
var container = document.getElementById('pluses_graph_visualisation');
var items = [
	{% for entry in pluses %}
	{x: new Date({{ entry.timestamp }} * 1000), y: {{ entry.value }}, /*label: '{{ entry.user.name }}'*/},
	{% endfor %}
];

var dataset = new vis.DataSet(items);
var options = {
	dataAxis: {
		left: {
			format: function(value) { return value; }
		}
	},
	orientation:'bottom',
	shaded: {
		orientation: 'bottom'
    },
};

var graph2d = new vis.Graph2d(container, dataset, options);
</script>

<h3>Minuses</h3>
<div id="minuses_graph_visualisation"></div>
<script type="text/javascript">
var container = document.getElementById('minuses_graph_visualisation');
var items = [
	{% for entry in minuses %}
	{x: new Date({{ entry.timestamp }} * 1000), y: {{ entry.value }}, /*label: '{{ entry.user.name }}'*/},
	{% endfor %}
];

var dataset = new vis.DataSet(items);
var options = {
	dataAxis: {
		left: {
			format: function(value) { return value; }
		}
	},
	orientation:'bottom',
	shaded: {
		orientation: 'bottom'
    },
};

var graph2d = new vis.Graph2d(container, dataset, options);
</script>


<h3>Subscribers</h3>
<div id="subscribers_graph_visualisation"></div>
<script type="text/javascript">
var container = document.getElementById('subscribers_graph_visualisation');
var items = [
	{% for entry in subscribers %}
	{x: new Date({{ entry.timestamp }} * 1000), y: {{ entry.value }}, /*label: '{{ entry.user.name }}'*/},
	{% endfor %}
];

var dataset = new vis.DataSet(items);
var options = {
	dataAxis: {
		left: {
			format: function(value) { return value; }
		}
	},
	orientation:'bottom',
	shaded: {
		orientation: 'bottom'
    },
};

var graph2d = new vis.Graph2d(container, dataset, options);
</script>


{% endblock %}
