.message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    padding: 10px;
    background: #4f82d6;
}

.message[type="error"] {
    background: #ff5f56;
}
