<div class="communityComponent" *ngIf="community">
    <div class="block header">
        <img class="communityBackground" src="{{ community.background_image_url }}">

        <h1>
            <img class="avatar" src="{{ community.avatar_url }}">
            <app-nice-link title="Посмотреть на пикабу" href="https://pikabu.ru/community/{{ community.url_name }}">

                {{ community.name }}
            </app-nice-link>
        </h1>
    </div>

    <div class="infoBlock block">
        <div class="row">
            <div class="column key">Подписчиков</div>
            <div class="column value">{{ community.subscribers_count }}</div>
        </div>
        <div class="row">
            <div class="column key">Постов</div>
            <div class="column value">{{ community.stories_count }}</div>
        </div>
        <div class="row">
            <div class="column key">Время последнего обновления</div>
            <div class="column value">{{ community.last_update_timestamp }}</div>
        </div>
    </div>

    <div class="info block" *ngIf="community.description" [innerHTML]="community.simplified_description">

    </div>

    <div>
        <h2>Подписчики</h2>
        <app-graph graphType="community" graphId="subscribers_count?filter=community_id={{ community.id }}"></app-graph>

        <h2>Посты</h2>
        <app-graph graphType="community" graphId="stories_count?filter=community_id={{ community.id }}"></app-graph>
    </div>
</div>
