<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>If you're not lactarius, go away</title>
</head>
<body>

<table>
	{% for entry in counters %}
	<tr>
		<td>{{ entry.time }} </td>
		<td>{{ entry.storiesCount }} </td>
		<td>{{ entry.subscribersCount }} </td>
	</tr>
	{% endfor %}
</table>

<!-- <script>
function formatFuckingNumberWithLeadingZeros(number, zerosCount) {
	numberLength = number.toString().length
	if (numberLength < zerosCount) {
		prefix = "";
		for(var i = 0; i < zerosCount - numberLength; ++i)
			prefix += "0";
		number = prefix + number;
	}
	return number.toString();
}

var timestampsElements = document.getElementsByClassName('timestamp')
for(var i = 0; i < timestampsElements.length; ++i) {
	el = timestampsElements[i];
	date = new Date (el.textContent * 1000);
	dateStr = formatFuckingNumberWithLeadingZeros(date.getDate(), 2);
	dateStr += '.'  + formatFuckingNumberWithLeadingZeros(date.getMonth(), 2);
	dateStr += '.' + date.getFullYear();
	dateStr += ' ';
	dateStr += formatFuckingNumberWithLeadingZeros(date.getHours(), 2);
	dateStr += ':' + formatFuckingNumberWithLeadingZeros(date.getMinutes(), 2);
	el.textContent = dateStr;
}
</script> -->
</body>
</html>

